# Network-specific config options
network: simple-config.yaml

# Config options that affect the central bridge module.
bridge:
  command_prefix: "!simple"
  personal_filtering_spaces: true
  private_chat_portal_meta: true
  async_events: false
  split_portals: false
  resend_bridge_info: false
  no_bridge_info_state_key: false
  bridge_status_notices: errors
  unknown_error_auto_reconnect: null

  bridge_matrix_leave: false
  bridge_notices: false
  tag_only_on_create: true
  only_bridge_tags: [m.favourite, m.lowpriority]
  mute_only_on_create: true
  deduplicate_matrix_messages: false
  cross_room_replies: false
  revert_failed_state_changes: false
  kick_matrix_users: true

  cleanup_on_logout:
    enabled: false
    manual:
      private: nothing
      relayed: nothing
      shared_no_users: nothing
      shared_has_users: nothing
    bad_credentials:
      private: nothing
      relayed: nothing
      shared_no_users: nothing
      shared_has_users: nothing

  relay:
    enabled: false
    admin_only: true
    default_relays: []
    message_formats:
      m.text: "<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"
      m.notice: "<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"
      m.emote: "* <b>{{ .Sender.DisambiguatedName }}</b> {{ .Message }}"
      m.file: "<b>{{ .Sender.DisambiguatedName }}</b> sent a file{{ if .Caption }}: {{ .Caption }}{{ end }}"
      m.image: "<b>{{ .Sender.DisambiguatedName }}</b> sent an image{{ if .Caption }}: {{ .Caption }}{{ end }}"
      m.audio: "<b>{{ .Sender.DisambiguatedName }}</b> sent an audio file{{ if .Caption }}: {{ .Caption }}{{ end }}"
      m.video: "<b>{{ .Sender.DisambiguatedName }}</b> sent a video{{ if .Caption }}: {{ .Caption }}{{ end }}"
      m.location: "<b>{{ .Sender.DisambiguatedName }}</b> sent a location{{ if .Caption }}: {{ .Caption }}{{ end }}"
    displayname_format: "{{ .DisambiguatedName }}"

  permissions:
    "*": relay
    "beeper.local": user
    "@davicorn:beeper.com": admin

# Config for the bridge's database.
database:
  type: sqlite3-fk-wal
  uri: file:./simple-bridge.db?_txlock=immediate
  max_open_conns: 5
  max_idle_conns: 1
  max_conn_idle_time: null
  max_conn_lifetime: null

homeserver:
  address: https://matrix.example.com
  domain: example.com
  software: standard
  status_endpoint:
  message_send_checkpoint_endpoint:
  async_media: false
  websocket: false
  ping_interval_seconds: 0

appservice:
  address: http://127.0.0.1:29319
  public_address:
  hostname: 127.0.0.1
  port: 29319
  id: minibridge
  bot:
    username: minibridgebot
    displayname: Simple Bridge bridge bot
    avatar:
  ephemeral_events: true
  async_transactions: false
  as_token: "REPLACE_ME"
  hs_token: "REPLACE_ME"
  username_template: sh-dummy_{{.}}

matrix:
  message_status_events: false
  delivery_receipts: false
  message_error_notices: true
  sync_direct_chat_list: true
  federate_rooms: true
  upload_file_threshold: 5242880
